h1
{
	font-size: 40px;
}
p
{
	font-size: 20px;
}

@media (min-width: 768px)/*desktop*/
{
	img
	{
		width:300px;
		height:300px;
		float: left;
		margin: 10px;
	}
}
@media (max-width: 767px)/*mobile*/
{
	img{
	width:90%;
    display: block;
    margin: 10px auto;
}
}